@model Infraestruture.Models.Incidencias

@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> usuario = ViewBag.Usuario;
    List<SelectListItem> estado = ViewBag.listaEstado;
    List<SelectListItem> estadoSolicitud = ViewBag.listaEstadoSolicitud;
}

<h2>Agregar</h2>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Incidencias</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Persona de la incidencia</label>
            <div class="col-md-10">
                @Html.DropDownList("ID_Usuario", usuario, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Título
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Descripción</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha de incidencia</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaIncidencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaIncidencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Estado de solicitud</label>
            <div class="col-md-10">
                @Html.DropDownList("EstadoSolicitud", estadoSolicitud, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoSolicitud, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Estado actual</label>
            <div class="col-md-10">
                @Html.DropDownList("EstadoActual", estado, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoActual, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear incidencia" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br />
}

<div>
    <a href="@Url.Action("Index", "Incidencias")" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Volver a la lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#FechaIncidencia").datepicker();
        });
    </script>
}
