@model Infraestruture.Models.AreaComun

@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> estado = ViewBag.listaEstado;
}

<h2>Agregar area común</h2>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AreaComun</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2"> Nombre del area común</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Hora de apertura</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraApertura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoraApertura, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Hora de cierre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraCierre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoraCierre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Estado actual</label>
            <div class="col-md-10">
                @Html.DropDownList("EstadoActual", estado, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoActual, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear area común" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<br />
<div>
    <a href="@Url.Action("Index", "AreaComun")" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Volver a la lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#HoraApertura").timepicker({
                timeFormat: 'HH:mm',
                interval: 60,
                minTime: '6',
                maxTime: '11',
                defaultTime: '6',
                startTime: '6:00',
                dynamic: false,
                dropdown: true,
                scrollbar: false
            });
            $("#HoraCierre").timepicker({
                timeFormat: 'HH:mm',
                interval: 60,
                minTime: '12',
                maxTime: '22',
                defaultTime: '12',
                startTime: '12:00',
                dynamic: false,
                dropdown: true,
                scrollbar: false
            });
        });
    </script>
}

